<%= turbo_frame_tag dom_id(@thread, :title), class: "flex flex-row space-x-2 items-center w-full justify-between mb-2" do %>
  <h1 class="text-2xl font-bold"><%= @thread.name %></h1>
  <%= link_to [:edit, @thread], class: yass(btn: [:xs, :warning]) do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
    </svg>
  <% end %>
<% end %>

<div id="messages" class="h-[60vh] overflow-y-auto mb-5 border border-gray-300 p-3">
  <% @thread.messages.each do |message| %>
    <div class="message mb-2">
      <strong><%= message.user_name || "User" %>:</strong> <%= message.content %>
    </div>
  <% end %>
</div>

<div id="new-message">
  <%= form_with(model: [@thread, Gaggle::Message.new], local: true) do |form| %>
    <div>
      <%= form.text_area :content, rows: 3, placeholder: "Type your message here...", class: "w-full p-2 border border-gray-300 rounded" %>
    </div>
    <div class="mt-3">
      <%= form.submit "Send", class: yass(btn: :success) %>
    </div>
  <% end %>
</div>
