<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Gaggle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags 'gaggle/application' %>
    <%= stylesheet_link_tag "gaggle/tailwind", "data-turbo-track": "reload" %>
  </head>
    <html class="h-full bg-white">
  <body class="h-full">
    <%= turbo_stream_from 'gaggle'%>
    <%= render layout: 'sidebar', locals: { channels: @channels } do %>
      <%= yield %>
    <% end %>
  </body>
</html>
